{% extends 'base.html.twig' %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}

    {% for message in app.flashes('info') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <a href="{{ path('contato_consultar') }}" class="btn btn-primary"> Consultar Contatos</a>
        </div>
    {% endfor %}

    <h1 class="h1 fs-3 fw-light p-3 text-center"> {{ titulo }} </h1>
    {{ form(formulario) }}

{% endblock %}
